<table class="table bg-white">
  <tbody>
    <% item_comments.each do |item_comment| %>
    <tr class="border-top">
      <td colspan="2">
        <%= link_to user_path(item_comment.user) do %>
          by <%= item_comment.user.name %>さん
        <% end %>
      </td>
      <% if item_comment.user == current_user %>
      <td class="text-right">
        <%= link_to "削除", item_item_comment_path(item_comment.item, item_comment), method: :delete, data: { confirm: '本当に消しますか？' },  remote: true, class: "btn btn-danger rounded-pill" %>
      </td>
      <% end %>
    </tr>
    <tr class="table-borderless">
      <td colspan="3"><%= item_comment.comment %></td>
    </tr>
    <% end %>
  </tbody>
</table>