<% if item.liked_by?(current_user) %>
  <p>
    <%= link_to item_likes_path(item), method: :delete, remote: true do %>
      ❤ <%= item.likes.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to item_likes_path(item), method: :post, remote: true do %>
      ♡ <%= item.likes.count %> いいね
    <% end %>
  </p>
<% end %>