<div class="container">
  <div class="row m-2">
    <div class="col-4 shadow-lg rounded" style="background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);">
      <div class="text-center pt-2">
        <h3 class="text-black border border-white">User一覧</h3>
          <%= render 'index',users: @users %>
        </div>
      </div>
    </div>
  </div>
</div>