<div class='container-fluid'>
  <div class="row p-3">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-2 mx-sm-auto shadow-lg rounded box">
      <div class="text-center pt-2">
        <h3 class="text-black border-bottom border-white">いいね一覧</h3>
          <p>《いいねを外すとリストから削除されます》</p>
      </div>
      <% @like_items.each do |item|%>
        <%= render 'likes', item: item %>
      <% end %>
    </div>
  </div>
</div>