<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active">プロフィール</a>
      <%= render 'users/info', user: @user %>
  </li>
  <li class="nav-item">
    <a class="nav-link">投稿一覧</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">いいね一覧</a>
  </li>
</ul>
