<% item.item_comments.each do |item_comment| %>
  <%= link_to admin_user_path(item_comment.user) do %>
    <%= item_comment.user.name %>
  <% end %>
    <%= item_comment.comment %>
    <div class="comment-delete">
      <%#= link_to "削除", admin_item_comment_path(item_comment.item, item_comment), method: :delete,class: "btn btn-danger" %>
     <%= link_to "削除", admin_item_comment_path(item_comment.item, item_comment), method: :delete, data: { confirm: '該当のコメントを消しますか？' }, class: "btn btn-danger rounded-pill" %>
    </div>
<% end %>