<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
       <img src="<%= asset_path('Communication.jpg') %>" alt="",>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title pt-5"><i class="fas fa-door-open"></i> いらっしゃいませ <i class="fas fa-door-open"></i></h2>
        <h4 class="card-text pt-2">このサイト【new_match】は、<br>コンビニ大好きさんが集まったコミュニティサイトです。</h4>
        <h4 class="card-text pt-2">コンビニの新商品を紹介し合って自分好みの商品と出会いましょう！</h4>
      </div>
    </div>
  </div>
</div>