<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-8-offset-2">
    <section class="animations">
      <div class="info mt-5 pt-2 pb-2 text-center">
        <h2 class="text-center"><i class="fas fa-door-open"></i> いらっしゃいませ <i class="fas fa-door-open"></i></h2>
        <h4>ここはコンビニ新商品好きが集まったコミュニティサイトです。</h4>
        <h4>新商品を紹介し合って自分好みの商品と MATCH しましょう！！</h4>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-8-offset-2">
      <img src="<%= asset_path('Communication.jpg') %>" alt="">
    </div>
    </section>

  </div>
</div>