<div class="container">
<div class="row">

<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary", method: :post %>

    <div class="col-md-2 pt-3 align-items-start justify-content-center">
    </div>
    <div class="col-9 ml-3">
      <div class="row-10 mb-5 top-image ">
        <div class="col-10 p-2">
          <div class="card" style="background-size: cover;">
            <img src="<%= asset_path('top.jpeg') %>" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
