@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
  margin: 0;
  padding: 0;
}

.field_with_errors {
  display: contents;
  /*input {
    @extend .is-invalid;
  }*/
}

a{
  color: #000000;
  text-decoration: none;
}

table {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-all;
}

th {
  white-space: nowrap;
}

.box {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-size: cover;
}

.taglist {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.image-post {
  width: 300px;
  height: 150px;
}

.info {
  color: #fffacd;
  -webkit-text-stroke: 1px #FFF;
  text-stroke: 1px #FFF;
  font-size: 30px;
  font-family: "serif";
background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);}

.navbar-toggler {
  background-color: #e6e6fa;
  border-color: #000000;
}

top {
}
.animations{
  animation-name: animations;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes animations{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
