@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
  margin: 0;
  padding: 0;
}

.field_with_errors {
  display: contents;
  /*input {
    @extend .is-invalid;
  }*/
}

a{
  color: #000000;
  text-decoration: none;
}

.navbar-toggler {
  background-color: #e6e6fa;
  border-color: #000000;
}

table {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-all;
}

th {
  white-space: nowrap;
}

.box {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-size: cover;
}

.taglist {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.image-post {
  width: 300px;
  height: 150px;
}

.info {
  color: #fffacd;
  -webkit-text-stroke: 1px #FFF;
  text-stroke: 1px #FFF;
  font-size: 20px;
  line-height: 50px;
  font-family: "serif";
background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);

}

top {
}
.animations{
  animation-name: animations;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes animations{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

.scroll {
  cursor: pointer;
}

// スクロールボタンの色指定
#start {background: #6c6;}
#stop {
  display: none;  /* stopははじめ非表示に指定 */
  background: #f66;
}
#start:hover {background: #8e8;}
#stop:hover {background: #f99;}


#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 30px;
  bottom: 0;
  background: #ef3f98;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}