<div class="container-fluid">
  <div class="row p-3">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-2 mx-sm-auto shadow-lg rounded box">
      <% if @model == 'item' || @model == 'tag' %>
        <div class="text-center pt-2">
          <h3 class="text-black border-bottom border-white">検索ワード"<%= @content %>"</h3>
        </div>
        <% if @records.count == 0 %>
          <h4 class="text-center">検索ワードがヒットしませんでした。</h4>
        <% else %>
          <%= render 'items/index', items: @records %>
        <% end %>
      <% elsif @model == 'user' %>
        <div class="text-center pt-2">
          <h3 class="text-black border-bottom border-white">検索ワード "<%= @content %>"</h3>
        </div>
        <% if @records.count == 0 %>
          <h4 class="text-center">検索ワードがヒットしませんでした。</h4>
        <% else %>
          <%= render 'users/index', users: @records %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
