<% if @model == 'item' || @model == 'tag' %>
  <h3>Items search for "<%= @content %>"</h3>
  <%= render 'items/index', items: @records %>
<% else @model == 'user' %>
  <h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% end %>