<div class="container">
  <%= render 'layouts/errors', obj: @item %>
  <div class="row mt-5">
    <h6 class="text-center">//参考タグリスト//</h6>
     <div><%= render 'searches/tag_list',tags: @tags %></div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-2 mx-sm-auto shadow-lg rounded box">
      <div class="text-center pt-2">
        <h3 class="text-black border-bottom border-white">投稿編集</h3>
      </div>
      <%= render 'form', item: @item %>
      </div>
    </div>
  </div>
</div>