<footer class="bg-info">
  <div class='"ontainer mt-5'>
    <div class="row">
      <div class="mx-auto pt-2">
        <a>@DWC-PF-2022.10-</a>
      </div>
      <div>
        <%= link_to "管理者ページ", new_admin_session_path, class: "btn btn-dark mr-2" %></div>
    </div>
  </div>
</footer>
