<footer>
  <div class="cntainer fixed-bottom">
    <div class="row">
      <div class="mx-auto pt-2">
        <a>@DWC-PF-202210</a>
        <%= link_to new_admin_session_path do %>
          <i class="fas fa-user-shield"></i>
        <% end %>
    </div>
  </div>
</footer>
